.home{
    min-height: 100%;
    padding: .5rem;

    .title{
        margin: 1rem 0;
        font-size: 2rem;

    }

    .btnSection{
        /* width: 100%; */
        position: fixed;
        right: 10%;
        bottom: 5%;

        .btnNewUser{
            padding: .5rem;
            background-color: var(--color-four);
            width: 65px;
            height: 65px;
            border-radius: 50%;
            border:none;
            font-weight: bolder;
            border:solid 2px silver;
            transition: transform 300ms;
            
            &:hover{
                background-color: var(--color-dark);
                color: var(--color-white);
                transform: scale(1.03);
            }
        }
    }

    
}



@media screen and (min-width:768px){
    .home{
        padding: 1rem;
        .usersSection{
            display:grid;
            grid-template-columns: repeat(3,1fr);
            gap: .5rem;
        }

        /* .btnSection{
            position: absolute;
            right: 5%;
            bottom: 5%;
        } */
    }
}

@media screen and (min-width:992px){
    .home{
        .usersSection{
            grid-template-columns: repeat(4,1fr);
        }
    }
}

@media screen and (min-width:1200px){
    .home{
        .usersSection{
            grid-template-columns: repeat(5,1fr);
        }
    }
}