.userPage{
    min-height: 100%;
    
    .userDetail{
        display: grid;
        grid-template-rows: 1fr 2fr;
        margin: 0 auto;
        width: 95%;
        min-height: 50vh;
        text-align: center;
        /* gap: .5rem; */
        background-color: var(--color-four);
        border:  solid 1px silver;
        border-radius: 1rem;

        .userInfo,.weatherInfo{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 1rem;

        }
        .userInfo{
            padding: .5rem;
        }
        .weatherInfo{
            padding:1rem;
            img{
                min-width: 120px ;
                min-height: 120px;
            }
        }

    }
}

@media screen and (min-width:768px) {
    .userPage{
        .userDetail{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 1fr;
            gap: 1rem;
            background-color:initial;
            border:initial;

            .userInfo{
                border: solid 1px silver;
                background-color:var(--color-four) ;
            }
            .weatherInfo{
                border: solid 1px silver;

                background-color: var(--color-five);
            }
        }
    }
}