.header{
  width: 100%;
  min-height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  text-align: center;
  border-bottom: solid 1px silver;
  background-color: var(--color-four);
  
}

@media screen and (min-width:768px){
  .header{
    padding: 1rem;
    min-height: 6rem;

   flex-direction: row;
    justify-content: space-between;

    h1{
      padding: 1rem;
    }

    nav{
      display: flex;
      align-items: center;
      padding: .5rem;
      flex-grow: 1;

      ul{
        padding: .5rem;
      }
    }
  }
}